{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/sign-in.css">
{{/section}}


{{#section 'js'}}
<!-- password-script -->
<script>
    window.onload = function () {
        document.getElementById("password").onchange = validatePassword;
        document.getElementById("confirm_password").onchange = validatePassword;
        document.getElementById("email").onchange = validatePassword;
    }


    function validatePassword(event) {
        console.log("EMAIL");
        var pass2 = document.getElementById("confirm_password").value;
        var pass1 = document.getElementById("password").value;
        if (pass1 != pass2) {
            event.preventDefault();
            document.getElementById("warning_password").style.display = "block";
        }
        else
            document.getElementById("warning_password").style.display = "none";
        //empty string means no validation error
    }

</script>
<!-- //password-script -->
{{/section}}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <div class="title">
                <i class="fas fa-igloo fa-2x text-white"></i>
                <h2 class="title_formsignup">Thay đổi mật khẩu</h2>
            </div>
        </div>

        <div class="warning">
            <div class="row">
                {{#if isFailUser}}
                <h5 class="text-danger"><i class="fa fa-warning"></i> Tên đăng nhập đã tồn tại</h5>
                {{/if}}
            </div>
            <div class="row">
                {{#if isFailEmail}}
                <h5 class="text-danger"><i class="fa fa-warning"></i> Email đã được sử dụng cho tài khoản khác</h5>
                {{/if}}
            </div>
            <div class="row">
                {{#if notExistEmail}}
                <h5 class="text-danger"><i class="fa fa-warning"></i> Email không tồn tại</h5>
                {{/if}}
            </div>
            <div class="row" style="display: none" id="warning_password_mismatch">
                <h5 class="text-danger"><i class="fa fa-warning"></i> Mật khẩu không trùng nhau</h5>
            </div>
            <div class="row" style="display: none" id="warning_invalid_pass">
                <h5 class="text-danger"><i class="fa fa-warning"></i> Mật
                    khẩu tối thiểu có 8 ký tự, ít nhất
                    1 chữ cái, 1 chữ số và 1 ký tự đặc biệt</h5>
            </div>
            <div class="row" style="display: none" id="warning_email">
                <h5 class="text-danger"><i class="fa fa-warning"></i> Email không chính xác</h5>
            </div>
        </div>




        <!-- Login Form -->
        <form action="/mail/changepassword" method="POST" onsubmit="return validatePassword(event)">
            <input type="password" id="password" class="fadeIn second" name="password" placeholder="Mật khẩu"
                value={{password}}>
            <input type="password" id="confirm_password" class="fadeIn third" name="confirm-password"
                placeholder="Nhập lại mật khẩu" value={{password}}>

            <input type="submit" class="fadeIn fourth" value="Thay đổi">
        </form>
    </div>
</div>