<div class="container my-4">
    <div class="row">
        <h5 class="col-12 border-bottom">Các bài viết nổi bật</h5>
        <div id="Hightlights" class="bg-primary">
        </div>

    </div>

    <div class="row my-2">
        {{!-- List các bài đăng --}}
        <div class="col-lg-8 my-2">
            <div class="border border rounded">
                <div id="header" class="d-flex justify-content-between">
                    <h5 class="d-inline-block bg-lred py-3 px-4">Mất điện thoại</h5>

                    <span class="m-4">Đăng ngày 20/12/2020</span>
                </div>
                <div class="mx-4 my-2">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-3" src="/images/user.jpg" width="60">
                        <span class="mb-1 mr-2 font-weight-bold">Nguyễn Văn A</span>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-lg-5 mx-4">
                        <img src="/images/b.jpg" class="img-fluid" width="300">
                    </div>
                    <div class="col-lg-6">
                        <table>
                            <tr >
                                <td class="pr-3 pb-4"><i class="fas fa-address-card"></i></td>
                                <td class="pb-4">Loại: Samsung J</td>
                            </tr>
                            <tr>
                                <td class="pr-3 pb-4"><i class="fas fa-map-marked-alt"></i></td>
                                <td class="pb-4">Khu vực: Đường từ trường Đại học Khoa học tự nhiên đến trường Đại học Quốc tế</td>
                            </tr>
                            <tr>
                                <td class="pr-3 pb-4"><i class="fas fa-star"></i></td>
                                <td class="pb-4">Đặc điểm riêng: Có ticker màu xanh ở trên ốp lưng</td>
                            </tr>
                            <tr>
                                <td class="pr-3 pb-4"><i class="fas fa-align-left"></i></td>
                                <td class="pb-4">Mô tả: Vào lúc ... mình có tham gia hoạt động.............</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="w-100">
                    <button type="button" class="btn btn-secondary">Xem thêm</button>
                </div>
            </div>
        </div>
        {{!-- //List các bài đăng --}}

        {{!-- Thành viên tích cực --}}
        <div class="col-lg-3 ml-auto my-2 px-0 text-center border rounded shadow">
            <div class="py-3 bg-dblue text-white">
                <h5 class="">Thành viên tích cực</h5>
            </div>
            <div class="listMember my-2">
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>

                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
            </div>

        </div>
        {{!-- //Thành viên tích cực --}}
    </div>

</div>